<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./flask_config/static/news-favicon.png" rel="icon">
    <title>NEWS-CLASSIFIER | HOME</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="head_div">
        <div class="head1">
            <h1 class="head">News Classifier</h1>
            <p class="p1">Authenticate News Articles</p>
       </div>
    </div>

    <div class="back">
        <div class="div1">
            <div class= "imholder">
           <!-- <img src="Untitled.png" id="imag">-->
                <a></a>
            </div>
        </div>
        </div>
        <div class="box1">
            <label id="lb"> Check Now</label>
            <form action="{{url_for('predict')}}"method="post">
            <!--  <input class='inp' placeholder="Enter Author">
            <input class='inp' placeholder="Enter Headline">-->
                <textarea name="text" id='inp1' placeholder="Enter News Url"></textarea>
                <br> <button class="btn">Evaluate</button>
            </form>
        </div>
    <div class="credits"> © Created by LetsUpgrade Team</div>

</body>
</html>
